.top-bar {
	line-height: 30px;
	vertical-align: middle;
}

.top-bar-title {
	font-size: 16pt;
	font-weight: bold;
	padding: 0;

	a {
		color: black;
	}
}

.container {
	margin: 20px;
}

.project {
	list-style: none;
  padding: 0;
	margin: 0;
}

.project-header,
.project-item {
	@include grid-row(15) {
		.project-item-name {
			@include grid-column(2);
		}

		.project-item-month {
			@include grid-column(1);
			text-align: center;
		}

		.project-item-action {
			@include grid-column(1);
		}
	}

	@include grid-row-size(expand);

	padding: 5px;
	margin-bottom: 15px;
}

.project-item {
	border: 1px solid black;
	background: $light-gray;
}

.project-item:hover {
  background: $medium-gray;
}

.project-add {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
